$line-height-base: 1.65; // Should match UCF WP Theme value

$timeline-border-color: currentColor;
$timeline-border-width: 3px; // should match $border-width-thicker
$timeline-item-gap: 2.5em; // space between the main timeline and each item bullet
$timeline-item-bullet-gap: .6em; // space between item bullet and heading
$timeline-item-bullet-size: .5em; // width + height of each item bullet
$timeline-heading-font-size: 1em;
$timeline-heading-line-height: $line-height-base;
$timeline-heading-margin: .5em;
$timeline-heading-height: $timeline-heading-font-size * $timeline-heading-line-height;
